* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body
{
background-color: #14120b;
color: #edecec;/* set name */
}
@font-face {
    font-family: CursorGothicRegular;
    src: url('./fonts/CursorGothic-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CursorGothicItalic;
    src: url('./fonts/CursorGothic-Italic.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: CursorGothicBold;
    src: url('./fonts/CursorGothic-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: CursorGothicBoldItalic;
    src: url('./fonts/CursorGothic-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

/*----------- Nav Bar-------------  */
header{
    margin-top: 15px;
}
header .nav-parent
{
    display: grid;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}

header .nav-parent .logo .logo-png-1
{
    width: auto;
    align-items: center;
    height: 25px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;

}

header .nav-parent .mid-nav
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 18px;
}
header .nav-parent .mid-nav .mid-nav-in
{
    text-decoration: none;
    color: #edecec;
    font-family: CursorGothicRegular;
    font-size: 14px;
    line-height: 21px;
    padding-block-end: 5.6px;
    padding-block-start: 5.6px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

header .nav-parent .side-nav-button
{
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 5px;
}

header .nav-parent .side-nav-button .nav-button-1
{
    background-color: #14120b;
    border: solid #edecec;
    border-width: 0.8px;
    color: #edecec;
    font-size: 14px;
    padding-bottom: 5.88px;
    padding-top: 5.6px;
    padding-left: 10.5px;
    padding-right: 10.5px;
    border-radius: 3.40282e38px;
}
header .nav-parent .side-nav-button .nav-button-2
{
    background-color: #edecec;
    border: solid 1px #edecec;
    color: #14120b;
    font-size: 14px;
    padding-bottom: 5.88px;
    padding-top: 5.6px;
    padding-left: 10.5px;
    padding-right: 10.5px;
    border-radius: 3.40282e38px;
}

